<!-- Display form to edit question only if current_user is an administrator -->

<% if current_user.is_admin ==1%>

<h1>Editing question</h1>

<%= render 'form' %>

<% else%>

<center><h2>Sorry, this is only for administrators.</h2></center>

<% end%>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>