<div id="content">
	<div id="topSection">
		<div id="firstRow">
			<div id="topAdSpace">
				<!--	<img src="http://placehold.it/865x25"> -->
			</div>
		</div>
		<div id="secondRow">
			<div id="leftAdSpace">
				<!-- <img src="http://placehold.it/120x485"> -->
			</div>
		<div id="userContentSpace">
			<hr>
			<br>
			<div id="blog">
<h2><b>Name:</b> <%= @user.name %></h2>
<h2><b>Email:</b> <%= @user.email %></h2>
<br><br>
<%= link_to 'Back', users_path %>

			</div>
			<hr>
		</div>
		<div id="rightAdSpace">
		<!-- 	<img src="http://placehold.it/120x485"> -->
		</div>
</div>
</div>
</div>
