<div id="content">
	<div id="topSection">
		<div id="firstRow">
			<div id="topAdSpace">
				<!--	<img src="http://placehold.it/865x25"> -->
			</div>
		</div>
		<div id="secondRow">
			<div id="leftAdSpace">
				<!-- <img src="http://placehold.it/120x485"> -->
			</div>
			<div id="leaderboardSpace">
				<h1>Hang on tight...</h1>
				<br><br><br><br><br>
				<h1>?'s - brian@mcatqd.com</h1>
			</div>
			<aside id="rightAdSpace">
			<!-- 	<img src="http://placehold.it/120x485"> -->
			</aside>
		</div>
</div>
</div>