<p id="notice"><%= notice %></p>

<strong>Question:</strong> <%= @question.content %>
<br>
<strong>Your Answer:</strong> <%= @option.content%>
<br><br>
<center>
<% if @option.correct == true%>
<strong>Nice!</strong> You got the answer <span style="color: green;"><strong>correct</strong></span>!
<%else %>
<% if @option.correct == false%>
<strong>Bummer.</strong> You got the answer <span style="color: red;"><strong>wrong</strong></span>!
<%end%>
<%end%>
</center>

<!-- TODO: Insert explanations... -->

<!-- TODO: Create link to schedule and report card -->