<!-- What this does: this code displays after user submits an answer -->
<!-- Display today's date -->
<div class="pull-right"><h4><strong>Today's Question - <script type="text/javascript">
		var d = new Date();
		document.write(d.getMonth()+1 +"/" +d.getDate() + "/" +d.getFullYear());
		</script></strong></h4>

</div>
<br>
<br>
<!-- Summary of Question and Answer-->
<div class="lead">
<h3><%= @question.content%></h3>
</div>

<div class="form form-horizontal option-text">
	<table>
	<% @question.options.each do |option| %>
	<tr>
		<td style="vertical-align:text-top;"><input type="radio" <% if @answer.answer == option.id %>checked<%else%><%end%>></input></td><td><%= option.content%></td>
	</tr>
	<% end %>
	</table>
</div>
<br><br><br>
<center><span style="font-size: 20px;">	
<!-- Display if answer is correct-->
<% if @option.correct == true%>
<strong>Well done!!</strong> You got the answer <span style="color: green;">  <strong>correct</strong></span>!

<!-- Display if  answer is correct and user is not signed up-->
<% if current_user.nil? %>
<br><br>
Sign up today to get access to the question database to stay sharp before your test!</p>
<br>
<center><%= link_to('Sign up!', new_user_registration_path, :class=>"btn btn-large btn-success") %></center>
<% end%>

<%else %>

<!-- Display if answer is incorrect-->
<% if @option.correct == false%>
<strong>Bummer.</strong> You got the answer <span style="color: red;"><strong>wrong</strong> </span>!
<br><br><br>

<!-- Display if answer is incorrect and the user is not signed up -->
<% if current_user.nil? %>
<p>Don't get this question wrong on the MCAT. 
<br><br>
Sign up today to get access to answer explanations and new daily questions!</p>
<br>
<center><%= link_to('Sign up!', new_user_registration_path, :class=>"btn btn-large btn-success") %></center>
<% end %>

<%end%>

<%end%>


</span>
</center>

<!-- TODO: Insert explanations... -->