<div id="content">
	<div id="topSection">
		<div id="firstRow">
			<div id="topAdSpace">
			<!--	<img src="http://placehold.it/865x25"> -->
			</div>
		</div>
		<div id="secondRow">
		<div id="leftAdSpace">
			<!-- <img src="http://placehold.it/120x485"> -->
		</div>
		<div id="blogContentSpace">
			<hr>
			<table>
				<tr><td><h1>Blog</h1><br></td></tr>
			</table>
			<br>
			<div id="blog">
			<table>
			<%  @posts.each do |post| %>
			<tr><td><%= post.title%></td></tr>
			<tr><td><b>Brian</b> @ <%= post.created_at%></td></tr>
			<!--TODO - use post.user.name to get name, and format post.created_at to MM/DD/YYYY -->
			<tr><td><%= post.content%></td></tr>
			<% end %>
			</table>
			</div>
			<br>
			<hr>
		</div>
		<div id="rightAdSpace">
		<!-- 	<img src="http://placehold.it/120x485"> -->
		</div>
</div>
</div>
</div>