<div class="row-fluid">
	<center><h2>Disclaimer</h2></center>
	<ul>
		<li>This is an open source project managed by aspiring physician-programmers. Users are encouraged to contribute content or report problems at <a href="http://www.github.com/bquarant/mcatqd">http://github.com/bquarant/mcatqd</a>.</li>
		<br>
		<li>MCATqd.com is in no way affiliated with the AAMC (The Association of American Medical Colleges) or Medical College Admission Test® (MCAT®).</li>
		<br>
		<li>Your personal information is protected, lives on Heroku's servers, and will not be shared or accessed by third parties.</li>
		<br>
		<li>This site provides practice MCAT questions in order to assist individuals preparing for the MCAT or college examinations.</li>
		<br>    
		<li>All questions have been provided entirely free for all users and are purely for the benefit of improving users' score on the MCAT.</li>
</div>