<div class="row-fluid marketing">
        <div class="span5">
          <h4>
			Daily, Difficult Content</h4>
          <p>Never miss a day to review material. Each day we blast you with content that's often harder than what you'll see on the real test. Why? Because it's the only way to get better.</p>
		</div>
		<div class="span2">
		</div>
       <div class="span5">
         <h4>Access the Question Database</h4>
         <p>Connect your tailored study calendar with our growing database of practice questions and passages. Use any computer, tablet, or smartphone - just point your browser to <a href="http://mcatqd.com/">mcatqd.com</a>.</p>
       </div>
	  </div>
	
	 <div class="row-fluid marketing">
        <div class="span5">
          <h4>Explanations and Resourceful People</h4>
          <p>Sign up for free to get the in-depth explanations and other thoughts about the day's questions from student-authors who have already aced the MCAT. We're real people, building this website because we want to help you succeed, so if you have questions -- feel free to ask!</p>
        </div>
		<div class="span2">
		</div>
		<div class="span5">
         <h4>Create a Calendar <span class="label label-warning">Coming Soon!</span></h4>
	     <p>There's a ton of content to cover in order to be fully prepared, and never enough time. Plus, you're trying to have a life. We understand, which is why we don't waste your time - use MCATqd.com make a calendar with a day-to-day agenda to cover everything before your test date.</p>
       </div>
      </div>
